esquema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
             targetNamespace="http://localhost:8000/wsdl?wsdl"
             xmlns:tns="http://localhost:8000/wsdl?wsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="TransactionServiceService"
             >
  <types targetNamespace="http://localhost:8000/wsdl?wsdl">
    <xs:element name="creditBalanceByEntityPattern" type="tns:creditBalanceByEntityPattern"/>
    <xs:element name="creditBalanceByEntityPatternResponse" type="tns:creditBalanceByEntityPatternResponse"/>
    <xs:element name="requestBalanceByEntityPattern" type="tns:requestBalanceByEntityPattern"/>
    <xs:element name="requestBalanceByEntityPatternResponse" type="tns:requestBalanceByEntityPatternResponse"/>
    <xs:element name="reverseBalanceByEntityPattern" type="tns:reverseBalanceByEntityPattern"/>
    <xs:element name="reverseBalanceByEntityPatternResponse" type="tns:reverseBalanceByEntityPatternResponse"/>
    <xs:complexType name="reverseBalanceByEntityPattern">
      <xs:sequence>
        <xs:element name="transactionPattern" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="reverseBalanceByEntityPatternResponse">
      <xs:sequence>
        <xs:element name="return" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="requestBalanceByEntityPattern">
      <xs:sequence>
        <xs:element name="transactionPattern" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="requestBalanceByEntityPatternResponse">
      <xs:sequence>
        <xs:element name="return" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="creditBalanceByEntityPattern">
      <xs:sequence>
        <xs:element name="transactionPattern" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="creditBalanceByEntityPatternResponse">
      <xs:sequence>
        <xs:element name="return" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </types>

  <message name="requestBalanceByEntityPattern">
    <part name="parameters" element="tns:requestBalanceByEntityPattern"/>
  </message>
  <message name="requestBalanceByEntityPatternResponse">
    <part name="parameters" element="tns:requestBalanceByEntityPatternResponse"/>
  </message>
  <message name="creditBalanceByEntityPattern">
    <part name="parameters" element="tns:creditBalanceByEntityPattern"/>
  </message>
  <message name="creditBalanceByEntityPatternResponse">
    <part name="parameters" element="tns:creditBalanceByEntityPatternResponse"/>
  </message>
  <message name="reverseBalanceByEntityPattern">
    <part name="parameters" element="tns:reverseBalanceByEntityPattern"/>
  </message>
  <message name="reverseBalanceByEntityPatternResponse">
    <part name="parameters" element="tns:reverseBalanceByEntityPatternResponse"/>
  </message>

  <portType name="TransactionService">

    <operation name="requestBalanceByEntityPattern">
      <input message="tns:requestBalanceByEntityPattern"/>
      <output message="tns:requestBalanceByEntityPatternResponse"/>
    </operation>
    <operation name="creditBalanceByEntityPattern">
      <input message="tns:creditBalanceByEntityPattern"/>
      <output message="tns:creditBalanceByEntityPatternResponse"/>
    </operation>
    <operation name="reverseBalanceByEntityPattern">
      <input message="tns:reverseBalanceByEntityPattern"/>
      <output message="tns:reverseBalanceByEntityPatternResponse"/>
    </operation>
  </portType>
  <binding name="TransactionServicePortBinding" type="tns:TransactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="requestBalanceByEntityPattern">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="creditBalanceByEntityPattern">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="reverseBalanceByEntityPattern">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TransactionService">
    <port name="TransactionServicePort" binding="tns:TransactionServicePortBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </port>
  </service>
</definitions>
