esquema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
             targetNamespace="http://localhost:8000/wsdl?wsdl"
             xmlns:tns="http://localhost:8000/wsdl?wsdl"
             xmlns:ns2="http://localhost:8000/wsdl?wsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="TransactionServiceService"
             >
  <types targetNamespace="http://localhost:8000/wsdl?wsdl">
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://localhost:8000/wsdl?wsdl">
    <xsd:element name="requestBalanceByEntityPattern" type="ns2:requestBalanceByEntityPattern"/>
    <xsd:element name="requestBalanceByEntityPatternResponse" type="ns2:requestBalanceByEntityPatternResponse"/>
    <xsd:element name="creditBalanceByEntityPattern" type="ns2:creditBalanceByEntityPattern"/>
    <xsd:element name="creditBalanceByEntityPatternResponse" type="ns2:creditBalanceByEntityPatternResponse"/>
    <xsd:element name="reverseBalanceByEntityPattern" type="ns2:reverseBalanceByEntityPattern"/>
    <xsd:element name="reverseBalanceByEntityPatternResponse" type="ns2:reverseBalanceByEntityPatternResponse"/>
    <xsd:complexType name="requestBalanceByEntityPattern">
      <xsd:sequence>
        <xsd:element name="transactionPattern" type="xs:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="requestBalanceByEntityPatternResponse">
      <xsd:sequence>
        <xsd:element name="return" type="xs:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="creditBalanceByEntityPattern">
      <xsd:sequence>
        <xsd:element name="transactionPattern" type="xs:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="creditBalanceByEntityPatternResponse">
      <xsd:sequence>
        <xsd:element name="return" type="xs:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
        <xsd:complexType name="reverseBalanceByEntityPattern">
      <xsd:sequence>
        <xsd:element name="transactionPattern" type="xs:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="reverseBalanceByEntityPatternResponse">
      <xsd:sequence>
        <xsd:element name="return" type="xs:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
   </xsd:schema>
  </types>

  <message name="requestBalanceByEntityPattern">
    <part name="parameters" element="ns2:requestBalanceByEntityPattern"/>
  </message>
  <message name="requestBalanceByEntityPatternResponse">
    <part name="parameters" element="ns2:requestBalanceByEntityPatternResponse"/>
  </message>
  <message name="creditBalanceByEntityPattern">
    <part name="parameters" element="ns2:creditBalanceByEntityPattern"/>
  </message>
  <message name="creditBalanceByEntityPatternResponse">
    <part name="parameters" element="ns2:creditBalanceByEntityPatternResponse"/>
  </message>
  <message name="reverseBalanceByEntityPattern">
    <part name="parameters" element="ns2:reverseBalanceByEntityPattern"/>
  </message>
  <message name="reverseBalanceByEntityPatternResponse">
    <part name="parameters" element="ns2:reverseBalanceByEntityPatternResponse"/>
  </message>

  <portType name="TransactionService">

    <operation name="requestBalanceByEntityPattern">
      <input message="ns2:requestBalanceByEntityPattern"/>
      <output message="ns2:requestBalanceByEntityPatternResponse"/>
    </operation>
    <operation name="creditBalanceByEntityPattern">
      <input message="ns2:creditBalanceByEntityPattern"/>
      <output message="ns2:creditBalanceByEntityPatternResponse"/>
    </operation>
    <operation name="reverseBalanceByEntityPattern">
      <input message="ns2:reverseBalanceByEntityPattern"/>
      <output message="ns2:reverseBalanceByEntityPatternResponse"/>
    </operation>
  </portType>
  <binding name="TransactionServicePortBinding" type="ns2:TransactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="requestBalanceByEntityPattern">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="creditBalanceByEntityPattern">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="reverseBalanceByEntityPattern">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TransactionService">
    <port name="TransactionServicePort" binding="ns2:TransactionServicePortBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </port>
  </service>
</definitions>
