esquema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://54.148.81.57:8000/wsdl?wsdl"
xmlns:ns1="https://wap.tigo.com.gt/ws/MTServicesDataObjects"
xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
xmlns:tns="http://54.148.81.57:8000/wsdl?wsdl"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
<wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    elementFormDefault="qualified"
    targetNamespace="http://54.148.81.57:8000/wsdl?wsdl">
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    <xsd:element name="requestBalanceByEntityPattern">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="transactionPattern" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    </xsd:schema>

</wsdl:types>
    <wsdl:message name="requestBalanceByEntityPatternRequest">
        <wsdl:part name="parameters" element="tns:requestBalanceByEntityPattern">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="requestBalanceByEntityPatternResponse">
        <wsdl:part name="return" type="xsd:string">
        </wsdl:part>
    </wsdl:message>
<wsdl:portType name="MTPortType">

    <wsdl:operation name="requestBalanceByEntityPattern">
        <wsdl:input name="requestBalanceByEntityPatternRequest" message="tns:requestBalanceByEntityPatternRequest">
        </wsdl:input>
        <wsdl:output name="requestBalanceByEntityPatternResponse" message="tns:requestBalanceByEntityPatternResponse">
        </wsdl:output>
    </wsdl:operation>
</wsdl:portType>

<wsdl:binding name="MTHttpBinding" type="tns:MTPortType">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="requestBalanceByEntityPattern">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="requestBalanceByEntityPatternRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestBalanceByEntityPatternResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
<wsdl:service name="MTServicesService">
    <wsdl:port name="MTHTTPPort" binding="tns:MTHttpBinding">
      <wsdlsoap:address location="http://54.148.81.57:8000/wsdl"/>
    </wsdl:port>
</wsdl:service>
</wsdl:definitions>
